
ecoges/.idea/compiler.xml
ecoges/.idea/encodings.xml
ecoges/.idea/inspectionProfiles/Project_Default.xml
ecoges/.idea/misc.xml
ecoges/.idea/sqldialects.xml
ecoges/.idea/uiDesigner.xml
ecoges/.idea/workspace.xml
